

.logo2 {
  background: url(../img/logo2.png) 0 100%/90% no-repeat;
}

#fb a {
  background: url(../img/_ionicons_svg_logo-facebook.svg) 0 100% no-repeat;
  line-height: 3;
  opacity: 0.7;
}

#tw a {
  background: url(../img/_ionicons_svg_logo-twitter.svg) 0 100% no-repeat;
  line-height: 3;
  opacity: 0.8;
}

#insta a {
  background: url(../img/_ionicons_svg_logo-instagram.svg) 0 100% no-repeat;
  line-height: 3;
  opacity: 0.9;
}

#tum a {
  background: url(../img/_ionicons_svg_logo-tumblr.svg) 0 100% no-repeat;
  line-height: 3;
  opacity: 0.9;
}

#in a {
  background: url(../img/_ionicons_svg_logo-linkedin.svg) 0 100% no-repeat;
  line-height: 3;
  opacity: 0.6;
}

.newsletter-aside {
  height: 300px;
  width: 190px !important;
  background: url(https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5) no-repeat scroll center center / cover;
}
